@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    
    text-decoration: none;
    font-family: var(--font-1);
    box-sizing: border-box;
    margin: 0;
}
:root {
    --primary-color: #E95A08;
    --secondary-color: #f0f0f0;
    --text-color: #00000083;
   
    --font-1: "Inter";
    --font-2: "Noto Serif";
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    height: 71px;
    margin: 30px auto;
    max-width: 1140px;
}
a:nth-child(1) {
    color: var(--text-color);
    font-weight: 600;
    color:black;
}
a {
    color: #8987A1;
    font-size: 18px;
}
.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 22px 0;
    color: black;
}
.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}
h1{
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 4rem; 
    margin: 10px 0;
}
h2{
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 3rem; 
    margin: 10px 0;
}
span {
    color: var(--primary-color);
     font-weight: 600;
     font-family: var(--font-2);
}
p{
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-color)
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 100px auto;
    max-width: 1140px;
    max-height: 460px;
}
.plants{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap:50px;
    h2 {
        font-size: 50px;
        margin: 0px;
    }
}
.plant-grid{
    max-width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    gap: 20px;
    .plant-card{
    h3,p{
        font-family: var(--font-1);
        font-weight: 500;
        font-size: 1.2rem;
        color:black;
        margin: 10px;
    }
    button{
        background-color: var(--primary-color);
       font-family: var(--font-1);
        text-align: center;
        width: 270px;
        border: none;
        width: 100%;
        color: white;
        height: 50px;
        font-size: .9rem;
        cursor: pointer;
    }
    }
    margin-bottom: 100px;
    }
.flower-lover{
    width: 1140px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 80px;
    .lover{
        position: relative;
       .lover-image{
        height: 540px; width: 510px;
       }
    }
    .trusted-badge{
      position: absolute;
      /* top: 2072px;
      left: 497px; */
        top: -127px;
        left: 327px;
    }
    .plant-lover{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2{
            font-size: 3rem;
            margin: 0px;
        }
        li{
            font-size: 1.2rem;
            font-family: var(--font-1);
            color: var(--text-color);
            font-weight: 400;
            margin-bottom: 20px;
            
        }
    }
}
.deals{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    text-align: center;
}
.deals-1{
    grid-area: deals-1;
    background-image: url("./B12A02-Responsive-Flowers/assets/deal-bloom.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 367px;
    height: 197px;
  
}
.deals-2{
    grid-area: deals-2;
    background-image: url("./B12A02-Responsive-Flowers/assets/deal-zabo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 753px;
    height: 423.13px;
    color: white;
}
.deals-3{
    grid-area: deals-3;
    background-image: url("./B12A02-Responsive-Flowers/assets/deal-ana.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 367px;
    height: 197px;
}
.shop{
    background-color: #00000049;
    width: 367px;
    height: 197px;
      h3{
        font-size: 1.3rem;
    }
}
.shop1{
    background-color: #00000049;
    width: 753px;
    height: 423.13px;
      h3{
        font-size: 1.6rem;
    }
}
.deals-1, .deals-2, .deals-3, .shop, .shop1{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p{
        text-decoration: underline;
        color:white;
        font-weight: 400;
    }
    h3{
        font-family: var(--font-1);
        font-weight: 600;
        color: white;
        margin-bottom: 10px;
    }
}
.deals-section{
    display: grid;
    grid-template-areas: "deals-1 deals-2"
                         "deals-3 deals-2";
    gap: 20px;
    max-width: 1140px;
    margin: 50px auto;
}
.cta{
    background-image: url("./B12A02-Responsive-Flowers/assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 60px 0px;
    h2{
        font-family: var(--font-2);
        margin: 30px 0;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        input{
        padding: 8px 20px;
        border: none;
        width: 644px;
        height: 50px;

    }
        button{
            background-color: var(--primary-color);
            /* padding: 26px 50px; */
            color: white;
            border: none;
            width: 186px;
            height: 50px;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;

        }
    }
    
}
.footer{
    margin: 50px;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    .logo{
        width: 359px;
        height: 179px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    ul{
        list-style: none;
        padding: 0;
    }
   
    .footer-links, .footer-feature{
        display: flex;
        flex-direction: column;
        gap: 32px;
         li{
            margin-bottom: 20px;
            font-size: 1.2rem;
            font-family: var(--font-1);
            font-weight: 400;
            color: var(--text-color);
            a{
                color: gray;
                font-size: 1rem;
                font-weight: 400;
            }
        }
        a{
            color: var(--text-color);
            font-size: 1rem;
            font-weight: 400;
        }
    }
    .social-media{
        padding: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        gap: 24px;
        justify-self: start;
        img{
            width: 30px;
            height: 30px;
        }
    }
}
@media screen and (max-width: 576px) {
    body{
    margin: 20px;
}
    h1, h2 {
        font-size: 2rem;
        text-align: center;
    }
    p {
        font-size: 0.9rem;
        text-align: center;
    }
    .plants {
        gap: 25px;
        align-items: center;
        justify-content: center;
        text-align: center;
        h2 {
            font-size: 1.7rem;
            text-align: center;
        }
        p {
            font-size: 0.8rem;
            text-align: center;
        }
    }
    a {
        display: none;
    }
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .text {
        h1{
            text-align: left;
        }
        p {
            text-align: left;
            br {
                display: none;
            }
        }
    }
    .plant-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        justify-items: center;
        .plant-card {
            width: 171px;
            height: 340px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            img {
                width: 170px;
                height: 195px;
            }
        }
    }
    .flower-lover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 100px 0px;
        .lover > img {
            height: 396px;
            width: 358px;
           

        }
        .lover {
         
           
            display: flex;
            align-items: center;
            justify-content: center;
        }
         
        .trusted-badge {
            display: none;
        }
        .plant-lover {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          h2{
            font-size: 1.8rem;
            text-align: left;
            br{
                display: none;
            }
          }
            li {
                font-size: 1rem;
                

            }
        }
    }
    .deals {
        align-items: center;
        justify-content: center;
        text-align: center;
        br {
            display: none;
        }
    }
    .deals-section {
        display: grid;
        grid-template-areas: "deals-1"
                             "deals-3"
                             "deals-2";
        gap: 20px;
        justify-items: center;
        .shop, .shop1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .deals-1, .deals-2, .deals-3 {
            width: 100%;
            margin: 0px auto;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h3 {
                font-size: 1.2rem;
                text-align: center;
            }
            p {
                font-size: 1rem;
                text-align: center;
            }
        }
    }
    .cta{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px 0;
        padding: 50px;
        width: 100%;
        height: 300px;
        form{
            width: 300px;
            height: 50px;
        }
    }
    .footer {
        flex-direction: column;
      
        justify-content: left;
        padding: 10px;
        margin: 10px 0px;
        .logo {
            p{
                text-align: left;
            }
            img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }
        }
        .footer-links, .footer-feature {
            align-items: center;
            justify-content: center;
            text-align: center;
            li {
            font-size: 0.9rem;
            display: none;
            }
        }
        .social-media {
            position: relative;
            top: -20px;
            display: flex;
            gap: 16px;
        }
    }
}